html, body {
    position: relative;
    /*height: 100%;*/
    background:#B4DADA;
    color: #999;
    font-family: "兰亭黑";
}
.swiper-container {
        width: 100%;
        height: 200px;
    }
/*轮播*/
.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 80%;
    height:160px;
    margin-top: 10px;
    background: #fff;
    border-radius: 10px;
    display: flex;
    align-items: center;   
}
/*轮播图大小*/
.swiper-slide-active {
    transform: scale(1);
    transition: all .5s ease-out;
}
.swiper-slide-next,.swiper-slide-prev{
    transform: scale(0.9);
    -moz-transition: all .5s ease-out;
    -webkit-transition: all .5s ease-out;
    -o-transition: all .5s ease-out;
    transition: all .5s ease-out;
} 
.villa{
    text-align: center;
}
.villaBox{
    background: #f6f1f1;
    border-radius: 10px;
    padding: 10px 0;
    margin: 10px 16px;
}
/* villa-price */
.villa-price span:first-child{
    font-size: 18px;
    color: white;
}
.villa-price span:last-child{
    font-size: 14px;
    color: #f6f1f1;
}
/* 设备样式villaStyle */

.villaStyle,.villaStyle ul{
   display: flex;
   /*align-items: center;*/
}
.villaStyle-title{
    min-width: 80px;
    height: 40px;
    color: #777;
    line-height: 40px;
    border-right: 1px solid #ddd;
    border-left: 4px solid #ffc3a9;
}
.villaStyle ul{ 
    flex: 1;
    overflow-x:scroll;

    margin-left: 10px;
    margin-right: 10px;
}
.villaStyle ul::-webkit-scrollbar {/*隐藏滚动条*/
    display: none;
}
.villaStyle ul li{ 
    height:40px;
    position: relative;
    /*display: inline-block;*/
    min-width: 56px;
}
.villaStyle ul#villa-item-li li{
    height: 48px;
}
.villa-item-li-traingle{
    position: absolute;
    z-index: 100;
    bottom: 0px;
    left: 50%;
    margin-left: -6px;
    width: 0;
    height: 0;
    border-left:6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #ccc;
}
.villaStyle p{
    font-size: 14px;
    line-height: 20px;
    height: 20px;
    /*color: red;*/
    /*padding-top: 4px;*/
}
.line{
    position: relative;
    height: 1px;
    background: #ddd;
    /*margin:0 10px 0 0px;*/
}
.villa-provide div.villaStyle-title{
    border-left: 4px solid #c99ff1;
}
.villa-item p.villa-item-hint{
    font-size: 14px;
    margin:8px 10px 0 10px;
    line-height: 20px;
    text-align: left;
/*    padding: 10px 0;*/
    height: 80px;
    /*background: #454;*/
    overflow:auto; 
    /*text-indent: 2em;*/
    /*border-top: 1px solid #ddd;*/
}
.villa-item p.villa-item-hint::-webkit-scrollbar {/*隐藏滚动条*/
    display: none;
}
.villa-provide p.villa-provide-hint{
    font-size: 12px;
    margin-bottom:10px;
}
/* villa-map */
.villa-map{
    /*height: 400px;*/
    padding: 0;
}
.villa-map-title{
    position: relative;
}
#villa-map-view{
    height: 160px;
    width: 100%;
    border-radius: 10px 10px 0px 0px;
    /*background-color: green;*/
}
.villa-map-address{
    background-color: #B4DADA;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 36px;
    width: 90%;
    margin-left: 5%;
    position: absolute;
    margin-top:-18px;
}
.villa-map-address span:first-child{
    margin-left: 10px;
    color: white;
    height: 20px;
    line-height: 20px;
    flex: 1;
    text-align: left;
    border-right: 1px solid #ddd;
}
.villa-map-address span:last-child{
    width: 40px;
    height: 36px;
    background: url(../images/address2.png)no-repeat center;
    background-size: 20px;
}
.villa-map-time{
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #777;
    font-size: 14px;
    margin-top: 24px;
    height: 40px;
    border-top: 1px solid #ddd;
}
.villa-map-time div{ 
    display: flex;
    height: 24px;
    align-items: center;
}
.ontime p:nth-child(2){
    height: 24px;
    line-height: 24px;
     /*width: 84px;*/
    color: #54A0FF;
    font-size: 14px;
         margin-left:4px;
    padding: 0 10px;
    background:#dfdfdf;
}
.outtime p:nth-child(2){
    height: 24px;
    line-height: 24px;
    color:orange;
         margin-left:4px;
     /*width: 84px;*/
    padding: 0 10px;
    background:#dfdfdf;
}
.villa-map ul{
    height: 24px;
}
.villa-map ul li{
    /*width: 80px;*/
    float: right;
    font-size: 12px;
    line-height: 20px;

}
.villa-map ul li a{
    color: #999;
    padding:4px 8px;

}
/* villa-additional-price */
.villa-additional-price h2{
    color: #777;
    line-height: 24px;
}
.villa-additional-price p{
    font-size: 14px;
    line-height: 20px;
}
/*date*/
.date{
    margin-bottom: 58px;
    padding: 10px 20px;
}
/*底部footer*/
.footer{
    border-top: 1px solid #eee;
    height: 47px;
    text-align: center;
    line-height: 48px;
    width: 100%;
    color: #4ea0ff;
    background: #f6f1f1;
    position: fixed;
    bottom: 0;
}