html, body {
    /*position: relative;*/
    /*height: 100%;*/
    background:#54A0FF;
    color: #999;
    background:#B4DADA;
    font-family: "兰亭黑";
}
.villaBox{
    border-radius: 10px;
    padding: 0;
    margin: 10px 16px;
    background: #f6f1f1;
}

/*住宿选择*/
.army-choose{
	padding:10px;
}
.army-information{
	display: flex;
	align-items: center;
	/*background: yellow;*/
	padding-top: 10px;
}
.army-information div.army-title {
	height: 32px;
	width: 40px;
	font-size: 16px;
	color: #555;
	/*text-align: center;*/
	line-height: 32px;
	margin:0 10px;
}
.army-information input[type="number"]{
	padding: 0 10px;
	width: 100%;
	height: 32px;
	min-width: 100px;
	background:#eee;
	flex: 1;
	border: 0;
}
.army-information input:-ms-input-placeholder{
    color: #999;
    font-size: 12px;
   	margin-left: 
}

.army-information input::-webkit-input-placeholder{
    color: #999;
    font-size: 12px;
}
.army-choose p.army-hint{
	font-size: 12px;
	height: 20px;
	margin-left: 10px;
	line-height: 20px;
}
.army-choose p.army-choose-title{
	/*font-size: 12px;*/
	height: 32px;
	line-height: 32px;
	padding-left: 10px;
	color: #555;
	font-weight: bold;
	border-bottom: 1px solid #eee;
}
.army-choose div.army-number{
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 32px;
	line-height: 32px;
	padding-left: 10px;
	color: #555;
	border-bottom: 1px solid #eee;
}
.army-choose div:last-child{
	border:0;
}
.army-choose div.armyNumber{
	display: flex;
	align-items: center;
	/*height: 32px;*/
	/*background: red*/
}
.army-choose div.armyNumber span{
	min-width: 20px;
	padding: 0 2px;
	text-align: center;
	color: orange
}
/*日历*/
.date{
	padding: 10px 20px;
}
/*用户信息填写*/
.villa-user{
	padding: 0 10px;
	margin-bottom: 50px;
}
.villa-user-row{
	height: 36px;
	line-height: 36px;
	display: flex;
	align-items: center;

}
.villa-user-row p:first-child{
	color: #555;
	/*width: 100px;*/
	margin-right: 10px;
	text-align: center;
}
.villa-user-row p:last-child{
	color: orange;
	height: 36px;
	width: 32px;
	text-align: center;
	font-size: 12px;
	line-height: 44px;
}
.villa-user-row input{
	min-width: 100px;
	background: #eee;
	height: 28px;
	flex: 1;
	padding: 0 10px;
}
.villa-user-row input:-ms-input-placeholder{
    color: #999;
    font-size: 12px;
}

.villa-user-row input::-webkit-input-placeholder{
    color: #999;
    font-size: 12px;
}
.villa-user-coupon{
	line-height: 36px;
	height: 36px;
	display: flex;
	border-top: 1px solid #eee;
	align-items: center;
	justify-content: space-between;
}
.villa-user-coupon p:first-child{
	color: #555;
	/*width: 100px;*/
	margin-right: 10px;
	text-align: center;
}
.villa-user-couponNumber{
	height: 36px;
	display: flex;
	align-items: center;
}
.villa-user-couponNumber span{
	font-size: 12px;
}
/*footer去支付*/
.footer{
	position: fixed;
	bottom: 0;
	height: 40px;
	width: 100%;
	display: flex
}
.footer p:first-child{
	width: 70%;
	background: white;
	height: 40px;
	line-height: 40px;
	padding-left: 28px;
}
.footer p:last-child{
	width: 30%;
	height: 40px;
	background: orange;
	line-height: 40px;
	text-align: center;
	color: white;
	font-size: 16px;
}