html, body {
    /*position: relative;*/
    /*height: 100%;*/
    /*background:#54A0FF;*/
    color: #999;
    background:#B4DADA;
}
.villaBox{
    border-radius: 10px;
    padding: 0;
    margin: 10px 16px;
    background: #f6f1f1;
}

.secureHint{
	text-align: right;
	margin-top: 10px;
	color: #4ea0ff;
	font-size: 14px;
}
/*住宿选择*/
.army-choose{
	padding:10px;
}
.army-secure{
	display: flex;
	align-items: center;
	/*background: yellow;*/
	padding-top: 10px;
}
.army-information div.army-secure-title {
	height: 32px;
	width: 40px;
	font-size: 16px;
	color: #555;
	/*text-align: center;*/
	line-height: 32px;
	margin:0 10px;
}
.army-barbecue{
	margin-top: 8px;
	display: flex;
	align-items: center;
}
.army-barbecue div.army-barbecue-title{
	height: 32px;
	width: 40px;
	font-size: 16px;
	color: #555;
	/*text-align: center;*/
	line-height: 32px;
	margin:0 10px;

}
/*是否烧烤*/
.barbecueBox{
	height: 32px;
	display: flex;
	align-items: center;
	flex: 1;
	justify-content: space-around;
}
.barbecue-row{
	display: flex;
	align-items: center;
}
.barbecue1{
	height: 18px;
	width: 18px;
	margin-right: 4px;
	background: url(../images/circle.png);
	background-size: 100% 100%;
}
.barbecue1 img{
	height: 18px;
	width: 18px;
}
input[name='barbecueRadio']{
	display: none;
}
/*结束是否烧烤*/

/*军旅时间段*/
/*.army-time{
	margin-top: 8px;
	display: flex;
	align-items: center;
}*/
.army-time div.army-time-title{
	height: 32px;
	font-size: 16px;
	color: #555;
	/*text-align: center;*/
	line-height: 32px;
	margin:0 10px;

}
.army-timeBox{
	height: 32px;
	display: flex;
	align-items: center;
	flex: 1;
	justify-content: space-around;
}
.army-time-row{
	display: flex;
	font-size: 14px;
	align-items: center;
}
.army-time1{
	height: 18px;
	width: 18px;
	margin-right: 4px;
	background: url(../images/circle.png);
	background-size: 100% 100%;
}
.army-time1 img{
	height: 18px;
	width: 18px;
}
input[name='timeRadio']{
	display: none;
}
.army-time p.army-hint{
	border-top: 1px solid #ddd;
}
/*军旅时间段结束*/

.army-information{
	display: flex;
	align-items: center;
	/*background: yellow;*/
	padding-top: 10px;
}
.army-information div.army-title {
	height: 32px;
	width: 40px;
	font-size: 16px;
	color: #555;
	/*text-align: center;*/
	line-height: 32px;
	margin:0 10px;
}
.army-information input[type="number"]{
	padding: 0 10px;
	width: 100%;
	height: 32px;
	min-width: 100px;
	background:#eee;
	flex: 1;
	border: 0;
}
.army-information input:-ms-input-placeholder{
    color: #999;
    font-size: 12px;
}

.army-information input::-webkit-input-placeholder{
    color: #999;
    font-size: 12px;
}
.army-choose p.army-hint{
	font-size: 12px;
	margin-left: 10px;
	line-height: 20px;
}
.army-choose p.army-choose-title{
	/*font-size: 12px;*/
	height: 32px;
	line-height: 32px;
	padding-left: 10px;
	color: #555;
	font-weight: bold;
	border-bottom: 1px solid #ddd;
}
.army-choose div.army-number{
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 32px;
	line-height: 32px;
	padding-left: 10px;
	color: #555;
	border-bottom: 1px solid #ddd;
}
.army-choose div:last-child{
	border:0;
}
.army-choose div.armyNumber{
	display: flex;
	align-items: center;
	/*height: 32px;*/
	/*background: red*/
}
.army-choose div.armyNumber span{
	min-width: 20px;
	padding: 0 2px;
	text-align: center;
	color: orange
}
.nosleep{
	margin-right: 16px;
}
/*日历*/
.date{
	padding: 10px 20px;
}
/*用户信息填写*/
.villa-user{
	padding: 0 10px;
	/*margin-bottom: 58px;*/
}
.villa-user-row{
	height: 36px;
	line-height: 36px;
	display: flex;
	align-items: center;

}
.villa-user-row p:first-child{
	color: #555;
	/*width: 100px;*/
	margin-right: 10px;
	text-align: center;
}
.villa-user-row p:last-child{
	color: orange;
	height: 36px;
	width: 32px;
	text-align: center;
	font-size: 12px;
	line-height: 44px;
}
.villa-user-row p.tel{margin-left: 10px}
.villa-user-row input{
	min-width: 100px;
	background: #eee;
	height: 28px;
	flex: 1;
	padding: 0 10px;
	color: #555;
	font-size: 14px;
}
.villa-user-row input:-ms-input-placeholder{
    color: #999;
    font-size: 12px;
}

.villa-user-row input::-webkit-input-placeholder{
    color: #999;
    font-size: 12px;
}
.villa-user-coupon{
	line-height: 36px;
	height: 36px;
	display: flex;
	border-top: 1px solid #ddd;
	align-items: center;
	justify-content: space-between;
}
.villa-user-coupon p:first-child{
	color: #555;
	/*width: 100px;*/
	margin-right: 10px;
	text-align: center;
}
.villa-user-couponNumber{
	height: 36px;
	display: flex;
	align-items: center;
}
.villa-user-couponNumber span{
	font-size: 12px;
}
/*footer去支付*/
.footer{
	position: fixed;
	bottom: 0;
	height: 48px;
	width: 100%;
	display: flex;
}
.footer1{
	width: 70%;
	background: #f6f1f1;
	height: 47px;
	border-top: 1px solid #eee;
	line-height: 48px;
	padding-left: 28px;
	font-size: 18px;
	display: flex;
	align-items: center;
}
.footer2-toPay{
	width: 30%;
	height: 48px;
	background: orange;
	line-height: 48px;
	text-align: center;
	color: white;
	font-size: 16px;
}
.footer1 div{
	height: 32px;
	margin:0 10px;
	color: #999;
	margin-left: auto;
	display: flex;
	align-items: center;
}
.footer1 div span{
	height: 32px;
	line-height: 32px;
	/*color: #999;*/
	font-size: 14px;
}
.footer1 div img{
	margin-left:4px;
}
/*.footer div{
	margin: 0;
	font-size: 14px;
	background: #f6f1f1;
	border-top: 1px solid #eee;
	width: 80px;
	display: flex;
	align-items: center;
	height: 47px;
}*/
/*.footer div img{
	margin-left: 4px;
}*/

/*支付选择弹窗*/
.payBox{
	display: none;
	border-radius: 10px;
	position: fixed;
	background: white;
	top: 50%;
	margin-top: -130px;
	height: 260px;
	width: 80%;
	margin-left: 10%;
	z-index: 100;
	text-align: center;
	color: #999;
}
.payBox h2{
	color: #555;
	margin-top: 10px;
	height: 40px;
	line-height: 40px;
	border-bottom: 1px solid #eee;
}
.payBox p{
	position: absolute;
	height: 20px;
	width: 20px;
	top:4px;
	left: 16px;
	font-size: 32px;
	color: #ccc;
	font-weight:normal;

	transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
}
.payBox div.payMode{
	position: relative;
	padding: 0 16px;
	display: flex;
	/*justify-content: space-between;*/
	height: 40px;
	font-size: 14px;
	align-items: center;
	border-bottom: 1px solid #eee;
}
.payBox div.payMode label{
	font-size: 14px;
	height: 40px;
	line-height: 40px;
	text-align: left;
	width: 100%;
	/*background: yellow;*/
}
.payBox div.payMode input{
	display: none;
}
.payBox div.payModeImg{
	top:50%;
	right: 16px;
	margin-top: -10px;
	position: absolute;
	/*display: none;*/
	height: 20px;
	width: 20px;
	background: url(../images/circle.png);
	background-size: 20px;
}
.toPay{
	border-radius: 10px;
	width: 60%;
	margin-left: 20%;
	line-height: 40px;
	color: white;
	height: 40px;
    background:#4ea0ff;
    position: absolute;
    bottom: 10px;
}
.layer{
	background: #eee;
	position: fixed;
	height: 100%;
	width: 100%;
	z-index: 99;
	top:0;
	left: 0;
	filter:alpha(Opacity=80);-moz-opacity:0.5;opacity: 0.5;
	display: none;
}
/*明细*/
.detailBox{
	border-top: 1px solid #eee;
	border-bottom: 1px solid #ddd;
	padding: 10px 20px;
	background: #f6f1f1;
	position: fixed;
	bottom: 48px;
	width: 100%;
	display: none;
}
.detailBox p.reserve1-mode{
	font-size: 14px;
	line-height: 20px;
	margin-bottom: 8px;
	
}
.detailBox li{
	display: flex;
	font-size: 14px;
}
.detailBox div{
	height: 20px;
	display: flex;
	justify-content: space-between;
	width: 60%;
	align-items: center;
}
.detailBox-indoor-hint,.detailBox-tend-hint,.detailBox-liVilla-hint,.detailBox-secure-hint,.detailBox-barbecue-hint{
	line-height: 20px;
	font-size: 12px;
	margin-left: 10px;
}
/*付款类型*/
.Reserve{
	padding: 10px;
}
.ReserveBox{
	height: 40px;
	align-items: center;
	display: flex;
	justify-content: space-around;
}
.Reserve p{
	color: #555;
	font-size: 16px;
}
.Reserve-row{
	margin-top: 8px;
	height: 40px;
	display: flex;
	font-size: 14px;
	align-items: center;
}
.Reserve1{
	margin-left: 2em;
	height: 18px;
	width: 18px;
	background: url(../images/circle.png);
	background-size: 100% 100%;
	margin-right: 10px;
}
input[name='Reserve1Radio']{
	display: none;
}
.Reserve p.army-Reserve-hint{
		border-top: 1px solid #ddd;
	color: #999;
	font-size: 12px;
	line-height: 20px;
}
/*villa_roomCode*/
.roomCodeBox{
	margin-bottom: 58px;
	color: #555;
	display: flex;
	height: 20px;
	align-items: center;
	padding: 10px;
	font-size: 14px;
}
.roomCode{
	background: url(../images/circle.png);
	background-size: 100% 100%;
	border-radius: 50%;
	height: 16px;
	width: 16px;
	margin-right: 4px;
}
.roomCodeUrl{
	color: #4ea0ff;
}
/*京东支付*/
#batchForm{
	display: none;
}


/*退款政策*/
.villa-refund{
    padding: 10px;
}


.villa-refund h3{
    font-size: 16px;
    color: #555;
    line-height: 20px;
}

.villa-refund li{
    font-size: 14px;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
    margin:0 2em;
    line-height: 18px;

}
.villa-refund li:last-child{
    border-bottom: 0;
}


/*保单说明的弹窗*/
.secureHintPopup{
	width: 100%;
	height: 100%;
	top: 0;
	left:0;
	position: fixed;
	float: center;
	display: none;
	text-align: center;
	z-index: 101;
}

.secureHintPopupDiv{
	position: relative;
	width: 80%;
	margin-left: 10%;
	margin-top: 60px;
	height: 100%;
	background: url(../images/secure.png)no-repeat top center;
	background-size: 100%;

}
.secureHintPopupDiv img{
	height: 20px ;
	width:20px;
	position: absolute;
	margin-top:2%;
	margin-right: 2%;
	right: 0;
}
