html, body {
    position: relative;
    /*height: 100%;*/
    background:#B4DADA;
    color: #999;
    font-family: "微软雅黑";
}
.swiper-container {
        width: 100%;
        /*height: 200px;*/
    }
/*轮播*/
.swiper-slide {
    padding: 2px;
    background-position: center;
    background-size: cover;
    width: 80%;
    /*height:160px;*/
    margin-top: 10px;
    margin-bottom: 30px;
    background: #f6f1f1;
    border-radius: 10px;
    display: flex;
    align-items: center;   
}
.swiper-slide img{
    width: 100%;
    /*height: 100%;*/
    border-radius: 10px;
}

/*轮播图大小*/
.swiper-slide-active {
    transform: scale(1);
    transition: all .5s ease-out;
}
.swiper-container-android .swiper-slide-next,.swiper-container-android .swiper-slide-prev{
    transform: scale(0.9,0.9);

    -moz-transition: all .5s ease-out;
    -webkit-transition: all .5s ease-out;
    -o-transition: all .5s ease-out;
    transition: all .5s ease-out;
} 
.swiper-slide-next,.swiper-slide-prev{
    transform: scale(0.9,0.9);

    -moz-transition: all .5s ease-out;
    -webkit-transition: all .5s ease-out;
    -o-transition: all .5s ease-out;
    transition: all .5s ease-out;
}
.villa{
    text-align: center;
}
.villaBox{
    background: #f6f1f1;
    border-radius: 10px;
    padding: 10px 0;
    margin: 10px 16px;
}
/* villa-price */
.villa-price span:first-child{
    font-size: 18px;
    color: orange;
}
.villa-price span:last-child{
    font-size: 14px;
    color: #f6f1f1;
}
/* 设备样式villaStyle */

.villaStyle,.villaStyle ul{
   display: flex;
   /*align-items: center;*/
}
.villaStyle-title{
    min-width: 80px;
    height: 40px;
    color: #777;
    line-height: 40px;
    border-right: 1px solid #ddd;
    border-left: 4px solid #ffc3a9;
}
.villaStyle ul{ 
    flex: 1;
    overflow-x:scroll;

    margin-left: 10px;
    margin-right: 10px;
}
.villaStyle ul::-webkit-scrollbar {/*隐藏滚动条*/
    display: none;
}
.villaStyle ul li{ 
    height:40px;
    position: relative;
    /*display: inline-block;*/
    min-width: 56px;
}
.villaStyle ul#villa-item-li li{
    height: 48px;
    min-width: 80px;
}

.villa-item-li-traingle{
    position: absolute;
    z-index: 100;
    bottom: 0px;
    left: 50%;
    margin-left: -6px;
    width: 0;
    height: 0;
    border-left:6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #ccc;
}
.villaStyle p{
    font-size: 14px;
    line-height: 20px;
    height: 20px;
    /*color: red;*/
    /*padding-top: 4px;*/
}
.line{
    position: relative;
    height: 1px;
    background: #ddd;
    /*margin:0 10px 0 0px;*/
}
.villa-provide div.villaStyle-title{
    border-left: 4px solid #c99ff1;
}
.villa-item div.villa-item-hint{
    font-size: 14px;
    margin:8px 10px 0 10px;
    line-height: 20px;
    text-align: left;
/*    padding: 10px 0;*/
    height: 80px;
    /*background: #454;*/
    overflow:auto; 
    /*text-indent: 2em;*/
    /*border-top: 1px solid #ddd;*/
}
.villa-item div.villa-item-hint::-webkit-scrollbar {/*隐藏滚动条*/
    display: none;
}
.villa-item div.villa-item-hint p{
    /*margin-top: 4px;*/
    display: flex;
    justify-content: space-between;
}
.villa-provide p.villa-provide-hint{
    font-size: 12px;
    margin-top:10px;
}
.villa-item-hint p.villa-item-hint-text{
    margin-top: 4px;
    line-height: 20px;
}
/* villa-map */
.villa-map{
    /*height: 400px;*/
    padding: 0;
}
.villa-map-title{
    position: relative;
    border-radius: 10px 10px 0px 0px;
}
#villa-map-view{
    height: 160px;
    width: 100%;
    border-radius: 10px 10px 0px 0px;
    /*background-color: green;*/
}
.villa-map-address{
    background-color: #B4DADA;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 36px;
    width: 90%;
    margin-left: 5%;
    position: absolute;
    margin-top:-18px;
}
.villa-map-address span:first-child{
    margin-left: 10px;
    color: white;
    height: 20px;
    line-height: 20px;
    flex: 1;
    text-align: left;
    border-right: 1px solid #ddd;
}
.villa-map-address span:last-child{
    width: 40px;
    height: 36px;
    background: url(../images/address2.png)no-repeat center;
    background-size: 20px;
}
.villa-map-time{
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #777;
    font-size: 14px;
    margin-top: 24px;
    height: 40px;
    border-top: 1px solid #ddd;
}
.villa-map-time div{ 
    /*font-size: 12px;*/
    display: flex;
    height: 24px;
    align-items: center;
}
.ontime p:nth-child(2){
    height: 24px;
    line-height: 24px;
     width: 88px;
    color: #999;
    font-size: 12px;
         margin-left:4px;
 /*   padding: 0 10px;*/
    background:#dfdfdf;
}
.outtime p:nth-child(2){
    font-size: 12px;
    height: 24px;
    line-height: 24px;
    color: #999;
         margin-left:4px;
     width: 88px;
    /*padding: 0 10px;*/
    background:#dfdfdf;
}
.ontime p span.ontime1,.outtime p span.outtime1{
    color: #54A0FF;
}
.ontime p span.ontime2,.outtime p span.outtime2{
    color: orange;
}
.villa-map ul{
    height: 24px;
}
.villa-map ul li{
    /*width: 80px;*/
    float: right;
    font-size: 12px;
    line-height: 20px;

}
.villa-map ul li a{
    color: #999;
    padding:4px 8px;

}
/* villa-additional-price */
.villa-additional-price h2{
    color: #777;
    line-height: 24px;
}
.villa-additional-price p{
    font-size: 14px;
    line-height: 20px;
}
.villa-additional-price a{
    font-size: 14px;
    line-height: 20px;
    color: #999;
}
/*date*/
.date{
    margin-bottom: 20px;
    padding: 10px 20px;
}
/*底部footer*/
.footer{
    border-top: 1px solid #eee;
    height: 47px;
    text-align: center;
    line-height: 48px;
    width: 100%;
    color: #4ea0ff;
    background: #f6f1f1;
    position: fixed;
    bottom: 0;
}
/*显示评价*/
.assessBox-title{
    display: flex;
}
.assessBox{
     text-align: left;
    padding:10px;
}
.assessBox p.assessBox-nickname{
    margin-left: 10px;
    color: #555;
}
.assessBox p.assessBox-time{
    margin-left: 10px;
    font-size: 14px;
    margin-top: 4px;
    text-align: left;
}

.assessBox p.assessBox-assess{
    margin:10px 0;
    line-height: 20px;
    font-size: 14px;
    max-height: 60px;
    overflow:auto; 
}
.assessBox p.assessBox-assess::-webkit-scrollbar {/*隐藏滚动条*/
    display: none;
}
.assessBox span.assessBox-view{
    color: orange;
    font-size: 18px;
}
.assessBox img#star{
    float: right;
}
#icon{
    border-radius: 50%;
    border:0;
}
/*去高德地图logo的样式*/
.amap-logo,.amap-copyright {
            display: none !important;
        }
/*底部电话*/

.footerTel{
    margin-bottom: 58px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 14px;
}
.footerTel a{
    color: white;
}