 body,html{
	padding-bottom: 10px;
     background: #54A0FF;
}
.assessBox{
	margin: 10px 16px 10px 16px;
	padding: 10px;
	border-radius: 10px;
	background: #f6f1f1;

}
.username{
	padding-bottom:10px;
	color: #999;
	margin-bottom: 8px;
	border-bottom:1px solid #ddd;
}
.assess-header{
	display: flex;
}
.assess-header-icon{
	height: 56px;
	width: 56px;
	border-radius: 50%;
	margin:12px 10px 12px 0;
}
.assess-header-icon img{
	border-radius: 50%;
}
.assess-header-content{
	height: 20px;
	flex: 1;
	float: right;
}
.assess-header-content > div{
	
	display: inline-block;
	border: 0;
}
.assess-header-star{
	height: 20px;
	width: 80px;
	line-height: 20px;
}
.assess-header-time{
	line-height: 20px;
	float: right;
	height: 20px;
	color: #999;
}
.assess-header-text{
	height: 54px;
	overflow-x:scroll;
	color: #999;
	font-size: 14px;
	line-height: 18px;
}
.assess-header-text::-webkit-scrollbar {/*隐藏滚动条*/
    display: none;
}
.assess-pic{
	border-top: 1px solid #ddd;
	
}
.assess-pic img{
	margin-top: 10px;
	margin-right: 10px;
} 
/*没有订单时的显示*/
.assess_bg{
	margin:16px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.bg_hint{
	margin-top: 100px;
	text-align: center;
}
.bg_hint p{
	margin-top: 10px;
	color: #fff;
}