body,html{
	padding-bottom: 10px;
}
.assessBox{
	margin: 10px 16px 10px 16px;
	padding: 10px;
	border-radius: 10px;
	background: #fff;

}
.assess-header{
	display: flex;
}
.assess-header-icon{
	height: 56px;
	width: 56px;
	border-radius: 50%;
	margin:12px 10px 12px 0;
}
.assess-header-icon img{
	border-radius: 50%;
}
.assess-header-content{
	height: 20px;
	flex: 1;
	/*float: right;*/
}
.assess-header-content > div{
	display: inline-block;
	border: 0;
}
.assess-header-star{
	height: 20px;
	width: 80px;
	line-height: 20px;
}
.assess-header-time{
	line-height: 20px;
	float: right;
	height: 20px;
	color: #999;
}
.assess-header-text{
	height: 50px;
	width: 100%;
	color: #999;
	font-size: 14px;
	line-height: 16px;
	display: flex;
	align-items: center;
}
.assess-pic{
	border-top: 1px solid #eee;
	padding-top: 10px;
}