.hint{
	font-size: 14px;
	color: #999;
	padding: 20px 16px 5px 16px;
}
.container ul{
	background-color: white;
	border-top: 1px solid #efefef;
	border-bottom: 1px solid #efefef;
	margin-bottom: 20px;
}
.container ul li{
	list-style-type: none;
	height: 40px;
	line-height: 40px;
	border-bottom: 1px solid #efefef;
	margin: 0 16px;
}