
html, body {
    position: relative;
    /*height: 100%;*/
    background:#67c0ee;
    /*font-family: "兰亭黑";*/
}

.ds_information,.ds_apply{
	border-radius: 10px;
	margin: 10px 16px;
	background: #f6f1f1;
	padding: 0 10px ;
	line-height: 24px;
}

.dstype_information,.ds_apply_title,.ds_pay{
	background: #f6f1f1;
	height: 40px;
	line-height: 40px;
/*	font-size: 14px;
	color: #999;*/
	border-bottom: 1px solid #efefef;
}
span{
	font-size: 14px;
	color: #999;
}
.ds_apply{
	margin-top: 10px;
}
.ds_pay{
		border-radius: 10px;
	margin: 10px 16px;
	margin-top: 10px;
	margin-bottom: 58px;
	padding: 0 10px;
	display: flex;
	justify-content: space-between;
}
.ds_pay span:nth-child(2){
	font-size: 16px;
	color: black;
}
.footer{
	bottom: 0;
	position: fixed;
	width: 100%;
	max-width: 768px;
	display: flex;
	background-color: white;
	height: 48px;
	align-items: center;	
}
.footer img{
	width:30px;
	height:30px;
	margin-right:5px;
}
.submit{
	width: 30%;
	background-color: orange;
	height: 48px;
	line-height: 48px;
	text-align: center;
	color: white;
}
.last_price{
	width: 70%;
	height: 48px;
	line-height: 48px;
	text-align: center;
}
.last_price span{
	color: red;
	padding-left: 0;
	padding-right: 0;
}
.price{
	font-size: 18px;
}
