html, body {
    /*position: relative;*/
    /*height: 100%;*/
    background:#4ea0ff;

}
/*头部header*/
.header{
  display: flex;
  background: #f6f1f1;
}
.header div.unused{
  color: orange;
  height: 46px;
  width: 100%;
  line-height: 46px;
  text-align: center;
  border-bottom: 2px solid orange;
}
.header div.used,.header div.overdue{
  height: 46px;
  width: 100%;
  line-height: 46px;
  text-align: center;
  border-bottom: 2px solid #f6f1f1;
}

.container{
  position: relative;
	padding: 10px 16px;
}
.coupon{

}
.couponBox{
  position: relative;
  border-radius:10px;
  padding:10px 10px 0 10px;
  background: #f6f1f1;
  margin-top: 10px; 
}
.couponBox img{
  margin-bottom: 6px;
  width:100%;
}
.layer{
  position: absolute;
  height: 100%;
  width: 100%;
  background: #000;
  opacity: 0.3;
  filter:alpha(Opacity=30);
  top: 0;
  left: 0;
  border-radius: 10px;
  z-index: 100;
  display:none;
}
.layerBox{
  z-index: 101;
  height: 48px;
  width: 40%;
  position: absolute;
  left: 30%;
  top: 50%;
  margin-top: -24px;
  display: flex;
  justify-content: space-between;
}
.detail{
  line-height: 48px;
  text-align: center;
  height: 48px;
  width: 48px;
  border-radius: 50%;
  color: #555;
  background: #f6f1f1;
  opacity: 1;
  filter:alpha(Opacity=100);
  font-size: 14px;
  display: none;
}
.toUse{
  line-height: 48px;
  text-align: center;
  height: 48px;
  width: 48px;
  background: #4ea0ff;
  color: #fff;
  border-radius: 50%;
  opacity: 1;
  filter:alpha(Opacity=100);
  font-size: 14px;
  display: none;
}
  .couponBox p.date{
    background: #ffe9e1;
    color: #999;
    border-radius: 5px;
    position: absolute;
    bottom: 15%;
    padding:0.5% 2%;
    left: 8%;
    font-size:0.625rem;
  }
  .couponBox p.date_ovedue{
    background: #efefef;
    color: #999;
    border-radius: 5px;
    position: absolute;
    bottom: 15%;
    padding:0.5% 2%;
    left: 8%;
    font-size:0.625rem;
  }
  .priceBox{
    position: absolute;
    bottom: 24%;
    left: 9%
  }
  .couponBox span{
    color: #00569f
  }
  .couponBox span.price1{
    font-size: 18px
  }
    .couponBox span.price2{
    font-size: 48px;
    font-weight:bold;

  }
 
@media only screen and (min-width: 360px){
  .couponBox p.date{
    background: #ffe9e1;
    color: #999;
    border-radius: 5px;
    position: absolute;
    bottom: 15%;
    padding:0.5% 2%;
    left: 6%;
    font-size:12px;
  }
  .couponBox p.date_ovedue{
    background: #efefef;
    color: #999;
    border-radius: 5px;
    position: absolute;
    bottom: 15%;
    padding:0.5% 2%;
    left: 8%;
    font-size:12px;
  }
    .priceBox{
    position: absolute;
    bottom: 25%;
    left: 9%
  }
  .couponBox span{
    color: #00569f
  }
  .couponBox span.price1{
    font-size: 24px
  }
    .couponBox span.price2{
    font-size: 60px;
    font-weight:bold;

  }
}  
@media only screen and (min-width: 480px){
  .couponBox p.date{
    background: #ffe9e1;
    color: #999;
    border-radius: 5px;
    position: absolute;
    bottom: 15%;
    padding:0.5% 2%;
    left: 6%;
    font-size:14px;
  }
  .couponBox p.date_ovedue{
    background: #efefef;
    color: #999;
    border-radius: 5px;
    position: absolute;
    bottom: 15%;
    padding:0.5% 2%;
    left: 8%;
    font-size:14px;
  }
  .priceBox{
    position: absolute;
    bottom: 22%;
    left: 8%
  }
  .couponBox span{
    color: #00569f
  }
  .couponBox span.price1{
    font-size: 28px
  }
    .couponBox span.price2{
    font-size:80px;
    font-weight:bold;

  }

} 
@media only screen and (min-width: 600px){
  .couponBox p.date{
    background: #ffe9e1;
    color: #999;
    border-radius: 5px;
    position: absolute;
    bottom: 15%;
    padding:0.5% 2%;
    left: 8%;
    font-size:16px;
  }
  .couponBox p.date_ovedue{
    background: #efefef;
    color: #999;
    border-radius: 5px;
    position: absolute;
    bottom: 15%;
    padding:0.5% 2%;
    left: 8%;
    font-size:16px
  }
    .priceBox{
    position: absolute;
    bottom: 22%;
    left: 8%
  }
  .couponBox span{
    color: #00569f
  }
  .couponBox span.price1{
    font-size: 36px
  }
    .couponBox span.price2{
    font-size: 100px;
    font-weight:bold;

  }

} 
@media only screen and (min-width: 720px){
  .couponBox p.date{
    background: #ffe9e1;
    color: #999;
    border-radius: 5px;
    position: absolute;
    bottom: 15%;
    padding:0.5% 2%;
    left: 8%;
    font-size:18px;
  }
  .couponBox p.date_ovedue{
    background: #efefef;
    color: #999;
    border-radius: 5px;
    position: absolute;
    bottom: 15%;
    padding:0.5% 2%;
    left: 8%;
    font-size:18px
  }
    .priceBox{
    position: absolute;
    bottom: 22%;
    left: 8%
  }
  .couponBox span{
    color: #00569f
  }
  .couponBox span.price1{
    font-size: 44px
  }
    .couponBox span.price2{
    font-size: 120px;
    font-weight:bold;

  }

} 

.coupon_hint_text{
margin:20px 10px;
}
.coupon_hint_text h2{
  color: white;
}
.coupon_hint_text p{
  margin-top: 10px;
  padding-left: 20px;
  font-size: 14px;
  color: white;
  background:url(../images/star.png)no-repeat center left;
  background-size:14px;
}
.use_coupon{
  margin-top:40px;
  background-color: #f6f1f1;
  color: #4ea0ff;
  width: 60%;
  height: 40px;
  border-radius: 20px;
  margin-left: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}



  .nohint{
    text-align: center;
    /*line-height:40px;*/
  }
 .nohint p.nohint_no{
    margin-top: 100px;
    color: white;
    font-size: 18px;
  }
   .nohint p.nohint_look{
    color: white;
    font-size: 14px;
    /*margin-top:10px;*/
  }
  .purl{
    margin-top: 20px;
    
  }
  .nohint a{
   background: #fff;
    color: #4ea0ff;
    padding: 4px 30px;
    border-radius: 4px;
     margin-top: 20px;
  }  


  .footerHtml{
    font-size: 12px;
    color: #fff;
    margin:20px 0 10px 0;
    text-align: center;
  }