html, body {
    /*position: relative;*/
    /*height: 100%;*/
    background:#4ea0ff;

}
/*头部header*/
.header{
  display: flex;
  background: #f6f1f1;
}
.header div.unused{
  color: orange;
  height: 46px;
  width: 100%;
  line-height: 46px;
  text-align: center;
  border-bottom: 2px solid orange;
}
.header div.used{
  height: 46px;
  width: 100%;
  line-height: 46px;
  text-align: center;
  border-bottom: 2px solid #f6f1f1;
}
.container{
  position: relative;
	padding: 10px 16px;
}
.couponBox{
  border-radius:10px;
  padding:0 10px;
  padding-top: 10px;
  background: #f6f1f1;
  position: relative;
}
.couponBox img{
  margin-bottom: 6px;
  width:100%;
}
  .couponBox p.date,.couponBox p.date_ovedue{
    background: #ffe9e1;
    color: #999;
    border-radius: 5px;
    position: absolute;
    bottom: 15%;
    padding:0.5% 2%;
    left: 8%;
    font-size:12px;
  }
@media only screen and (min-width: 320px){
  .couponBox p.date{
    background: #ffe9e1;
    color: #999;
    border-radius: 5px;
    position: absolute;
    bottom: 15%;
    padding:0.5% 2%;
    left: 8%;
    font-size:0.625rem;
  }
  .couponBox p.date_ovedue{
    background: #efefef;
    color: #999;
    border-radius: 5px;
    position: absolute;
    bottom: 15%;
    padding:0.5% 2%;
    left: 8%;
    font-size:0.625rem;
  }

}  
@media only screen and (min-width: 360px){
  .couponBox p.date{
    background: #ffe9e1;
    color: #999;
    border-radius: 5px;
    position: absolute;
    bottom: 15%;
    padding:0.5% 2%;
    left: 6%;
    font-size:12px;
  }
  .couponBox p.date_ovedue{
    background: #efefef;
    color: #999;
    border-radius: 5px;
    position: absolute;
    bottom: 15%;
    padding:0.5% 2%;
    left: 8%;
    font-size:12px;
  }
}  
@media only screen and (min-width: 480px){
  .couponBox p.date{
    background: #ffe9e1;
    color: #999;
    border-radius: 5px;
    position: absolute;
    bottom: 15%;
    padding:0.5% 2%;
    left: 6%;
    font-size:14px;
  }
  .couponBox p.date_ovedue{
    background: #efefef;
    color: #999;
    border-radius: 5px;
    position: absolute;
    bottom: 15%;
    padding:0.5% 2%;
    left: 8%;
    font-size:14px;
  }

} 
@media only screen and (min-width: 600px){
  .couponBox p.date{
    background: #ffe9e1;
    color: #999;
    border-radius: 5px;
    position: absolute;
    bottom: 15%;
    padding:0.5% 2%;
    left: 8%;
    font-size:16px;
  }
  .couponBox p.date_ovedue{
    background: #efefef;
    color: #999;
    border-radius: 5px;
    position: absolute;
    bottom: 15%;
    padding:0.5% 2%;
    left: 8%;
    font-size:16px
  }

} 
@media only screen and (min-width: 720px){
  .couponBox p.date{
    background: #ffe9e1;
    color: #999;
    border-radius: 5px;
    position: absolute;
    bottom: 15%;
    padding:0.5% 2%;
    left: 8%;
    font-size:18px;
  }
  .couponBox p.date_ovedue{
    background: #efefef;
    color: #999;
    border-radius: 5px;
    position: absolute;
    bottom: 15%;
    padding:0.5% 2%;
    left: 8%;
    font-size:18pxs
  }

} 

.coupon_hint_text{
margin:20px 10px;
}
.coupon_hint_text h2{
  color: white;
}
.coupon_hint_text p{
  margin-top: 10px;
  padding-left: 20px;
  font-size: 14px;
  color: white;
  background:url(../images/star.png)no-repeat center left;
  background-size:14px;
}
.use_coupon{
  margin-top:40px;
  background-color: #f6f1f1;
  color: #4ea0ff;
  width: 60%;
  height: 40px;
  border-radius: 20px;
  margin-left: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}



  .nohint{
    text-align: center;
    /*line-height:40px;*/
  }
 .nohint p.nohint_no{
    margin-top: 100px;
    color: white;
    font-size: 18px;
  }
   .nohint p.nohint_look{
    color: white;
    font-size: 14px;
    /*margin-top:10px;*/
  }
  .purl{
    margin-top: 20px;
    
  }
  .nohint a{
   background: #fff;
    color: #4ea0ff;
    padding: 4px 30px;
    border-radius: 4px;
     margin-top: 20px;
  }  