@charset "utf-8";
/* CSS Document */


.container{
	display: flex;
	justify-content: center;
	background:url(../images/bg_line.png);
	background-repeat:repeat-x;		/*背景图片在水平显示*/	
	background-position-y:bottom;　　/*背景图片在纵向的最下方显示*/
}

.confirm{
	width: 100%;
	background-color: white;
	position:relative;
	margin: 10px 16px;
}
.confirm img{
	position: absolute;
	top: 50%;
	margin-top: -60px;
	left: 50%;
	margin-left: -50px;
}
.hint{
	width: 100%;
	line-height: 24px;
	position: absolute;
	bottom: 10px;
	text-align: center;
}
.line{
	height: 1px;
	width: 100%;
	background-color: #ccc;
}
.pay_finish_box{
	display: flex;
	align-items: center;
	justify-content: center;
}
.pay_finish{
	text-align: center;
	line-height: 30px;
}
.pay_finish_text{
	color: #67c0ee;
}