
html, body {
    position: relative;
    /*height: 100%;*/
    background:#a6d4ff;
    color: #999;
    /*font-family: "兰亭黑";*/
}
/*轮播图*/

.swiper-container {
    width: 100%;
    /*height: 300px;*/
}
.swiper-slide {
	padding: 2px;
    background-position: center;
    background-size: cover;
    width: 80%;
    /*height:160px;*/
    margin-top: 10px;
    margin-bottom: 10px;
    background: #f6f1f1;
    border-radius: 10px;
    display: flex;
    align-items: center;   
}
.swiper-slide img{
    width: 100%;
    border-radius: 10px;
}


/*轮播图大小*/
.swiper-slide-active {
    transform: scale(1);
    /*-webkit-transform:scale(1);-moz-transform:scale(1);*/
    transition: all .5s ease-out;
}
.swiper-slide-next,.swiper-slide-prev{
	/*opacity: 0.5;*/
    transform: scale(0.9);
    /*-webkit-transform:scale(0.9);-moz-transform:scale(0.9);*/
    -moz-transition: all .5s ease-out;
    -webkit-transition: all .5s ease-out;
    -o-transition: all .5s ease-out;
    transition: all .5s ease-out;
} 


.ds_image{
	position: relative;
	height: 200px;
	width: 100%;
}
#ds_image{
	position: absolute;
	width: 100%;
	height: 100%;
}
.ds_name{
	color: white;
	position: absolute;
	margin-top: 170px;
	margin-left: 16px;
	font-size: 18px;
}
.ds_infor{
	background-color: #f6f1f1;
	border-radius: 10px;
	padding:0 10px;
	margin: 0 16px;
}
.ds_information{
	text-align: center;
}
.ds_information p{
	overflow-x:scroll;
	margin:0 20px;
	/*padding: 4px 0;*/
	height: 80px;
	line-height: 20px;
	font-size: 14px;
	text-align: left;
	margin-bottom: 10px;
}
.ds_information p::-webkit-scrollbar {/*隐藏滚动条*/
    display: none;
}
.ds_address{
	font-size: 14px;
	padding:0 16px;
	height: 40px;
	display: flex;
	align-items: center;
}
.ds_address span{
	font-size: 14px;
}
.line{
	height: 1px;
	width: 100%;
	background-color: #ddd;
}
.abstract{
	color: #4ea0ff;
	font-weight: normal;
	height: 40px;
	line-height: 40px;
}
.address{
	margin-left: 8px;
	font-size: 14px;
}
.dsintro{
	position: absolute;
	height:100%;
	width: 100%;
	left:0;
	top:0px;
	background-color: white;
	z-index: 100;
	display: none;
}
.dsintro_name{
	height: 80px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 24px;
}
.dsintro p{
	background-color: white;
	padding:10px 16px;
	text-indent: 2em;
	line-height: 24px;
}
.dsintro img{
	position: absolute;
	bottom: 20px;
	left: 50%;
	margin-left:-20px;

}
.ds_type{
	margin:10px 16px;
	border-radius: 10px;
	margin-top:10px;
	background-color: #f6f1f1;
	
}

.dsp_type_Div_a{
	position:relative;
	z-index: 100;
	border:1px solid #f6f1f1;
	border-radius: 8px;
	margin-top: 7px;
	text-align: center;
	background-color: #f6f1f1;
	width:92px;

}
.dsp_type_Div_a p{
	display: none;
	background: red;
	border-top: 1px solid #ffc3a9;
	font-size: 14px;
	line-height: 32px;
	background: #f6f1f1;
}
.dsp_type_Div_a p:nth-child(2){
	border-top: 0px;
}
.dsp_type_Div_a p:last-child{
	border-radius: 0 0 10px 10px;
}
.dsp_type_div{
	position: relative;
	/*padding-right:20px;*/
	color: #000;
	height: 32px;
	/*background: #FFC3A9;*/
	text-align: center;
	line-height: 32px;
	border-radius:6px; 
	display: flex;
	align-items: center;
}
.dsp_type_div_1 span,.dsp_type_div_3 span{
	margin-left: 4px;
	color: #555;
}
.dsp_type_div_2{
	justify-content: center;
	color: #555;
}
.dsp_type_div img{
	right: 4px;
	position: absolute;
	top: 50%;
	margin-top: -8px;
}
.dsp_type_div_2 img{
	right:4px;
}
.dsp_type{
	padding: 0 10px;
	height: 48px;
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid #ddd;
}

.dsp_list{
	margin:0 16px;
	position: relative;
	/*border-radius: 10px;*/
	display: flex;
	background-color: #f6f1f1;
	justify-content: space-around;
	flex-direction: column;
	border-bottom: 1px solid #ddd;
}
.container div:last-child{
	border-bottom: 0;
}
.dstype{
	margin-top: 8px;
	font-weight: normal;
	color: #555;
	font-size: 16px;
	/*margin-left:6px;*/
}
.dsp_infor{
	/*background: red;*/
	margin-bottom:8px;
	width: 70%;
	/*margin-left:6px;*/
	display:flex;
	justify-content: space-between;
}
.dsp_list h2{
	font-size: 14px;
}

.dsp_infor span {
	font-size: 14px;
	color: #999;
}
.packageid{
	width: 20%;
	/*filter:alpha(Opacity=0);-moz-opacity:0;opacity: 0;*/
	display: none;
}
.price_symbol{
	color: #4ea0ff;
	font-size: 18px;
	/*padding-left: 16px;*/
	/*padding-right: 2px;*/
}
.priceDiv{
	position: absolute;
	top: 50%;
	margin-top: -12px;
	right:0;
}
.price,.pointzero{
	color: #4ea0ff;
	font-size: 18px;
	right: 20px;
}
.footer{
	height: 20px;
}
.description{
    height: 20px;  
   	overflow: hidden;/*超出隐藏*/
    /*text-overflow: ellipsis;  省略号*/
    white-space: nowrap;  /*单行显示*/
  	width: 4em;
}


/*地图*/
/* villa-map */
.villa-map{
    /*height: 400px;*/
    padding:10px 0 30px 0;
}
.villa-map-title{
    position: relative;
}
#villa-map-view{
    height: 160px;
    width: 100%;
    border-radius: 10px 10px 0px 0px;
    /*background-color: green;*/
}
.villa-map-address{
    background-color: #a6d4ff;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 36px;
    width: 90%;
    margin-left: 5%;
    position: absolute;
    margin-top:-18px;
}
.villa-map-address span:first-child{
    margin-left: 10px;
    color: white;
    height: 20px;
    line-height: 20px;
    flex: 1;
    text-align: left;
    border-right: 1px solid #ddd;
}
.villa-map-address span:last-child{
    width: 40px;
    height: 36px;
    background: url(../images/address2.png)no-repeat center;
    background-size: 20px;
}
