body,html{
    background: #f6f1f1;
}
.contentBox{
}
.content{
    padding: 40px 0px 0px 0px;
    background: #6ebaff;
    border-radius: 20px;
    width: 80%;
    margin-left: 10%;
    margin-top: 40px;
    position: relative;
    display: none;
    z-index: 99;
}
.contentBox img.cloud{
    position: absolute;
    top: 0;
    left: 0;
    width: 60%;
    margin-left: -8%;
    margin-top: -8%;
    z-index: 100;
}
.content img.bg{
    width: 100%;
    display: none;
}
.textBox{
    position: absolute;
    width: 80%;
    top: 40px;
    height: 140px;
    margin-left: 10%;
    color: #fff;
}

.content img.car1{
    position: absolute;
    width: 24%;
    left: 40%;
    top: 62%;
    display: none;
    z-index: 100;
}
.content img.car2{
    position: absolute;
    width: 36%;
    left: 34%;
    top: 62%;
    display: none;
    z-index: 100;
}
.content img.car3{
    position: absolute;
    width: 52%;
    left: 24%;
    top: 64%;
    display: none;
    z-index: 100;
}
.content img.car4{
    position: absolute;
    width: 80%;
    left: 10%;
    top: 66%;
    display: none;
    z-index: 100;
}
.content img.car5{
    position: absolute;
    width: 110%;
    left: -5%;
    top: 68%;
    display: none;
    z-index: 100;
}


.content img.fangxiangpang{
    position: absolute;
    width: 12%;
    right: 15%;
    top: 50%;
    transform :rotate(0deg);
    transition: all 0.5s ease-out;
    display: none;
}
.content img.fangxiangpang:active {
    transform :rotate(90deg);
    -moz-transition: all .5s ease-out;
    -webkit-transition: all .5s ease-out;
    -o-transition: all .5s ease-out;
    transition: all .5s ease-out;
}
/*.content img.fangxiangpang:link{
    transform :rotate(90deg);
    -moz-transition: all .5s ease-out;
    -webkit-transition: all .5s ease-out;
    -o-transition: all .5s ease-out;
    transition: all .5s ease-out;
}
.content img.fangxiangpang:visited{
    transform :rotate(90deg);
    -moz-transition: all .5s ease-out;
    -webkit-transition: all .5s ease-out;
    -o-transition: all .5s ease-out;
    transition: all .5s ease-out;
}
.content img.fangxiangpang:hover{
    transform :rotate(90deg);
    -moz-transition: all .5s ease-out;
    -webkit-transition: all .5s ease-out;
    -o-transition: all .5s ease-out;
    transition: all .5s ease-out;
}
.content img.fangxiangpang:active {
    transform :rotate(90deg);
    -moz-transition: all .5s ease-out;
    -webkit-transition: all .5s ease-out;
    -o-transition: all .5s ease-out;
    transition: all .5s ease-out;
}*/
.content img.right{
    position: absolute;
    width: 6%;
    right: 6%;
    top: 53%;
    display: none;
}
.content h2{
    font-size: 18px;
    line-height: 24px;
}
.textBox{
    display: none;
}
.textBox ul{
    padding: 10px 20px;
}
.textBox ul li{
    line-height: 28px;
}
.textBox ul li label{
    display: flex;
    align-items: center;
}
.textBox ul li input{
    display: none;
}
.radioDiv{
    height: 16px;
    width: 16px;
    border:1px solid #fff;
    border-radius: 50%;
    margin-right: 10px;
}
.radioDivChild{
    height: 12px;
    width: 12px;
    margin-top: 4px;
    margin-left: 4px;
    background: #fff;
    border-radius: 50%;
}

/*驾校列表*/
.dsListBox{
    display: none;
}
.dsListContent{

    overflow-x:scroll;
    min-height: 160px;
    max-height: 260px;
    padding:40px 8px 0px 8px;
}
.dsListContent::-webkit-scrollbar {/*隐藏滚动条*/
    display: none;
}

.dsListBox h2.dsListBox-title{
    text-align: center;
    width: 98%;
    margin-left: 1%;
    z-index:99;
    color: #fff;
    font-size: 18px;
    height: 30px;
    line-height: 30px;
    box-shadow: 0px 5px 10px #6ebaff;  
    position: absolute;
    background: #6ebaff;
}
.dsContent{
    flex: 1;
    padding:8px 4px 8px 8px;

}
.dsList{
    padding:0 4px;
    margin-bottom:10px;
    text-align: left;
    background: #f6f1f1;
    display: flex;
    align-items: center;
    border-radius: 2px;
}
.dsList:last-child{
     margin-bottom:0;
}
.dsImageBox{
    position: relative;
    height: 68px;
    width: 90px;
    margin: 4px 0;
    /*margin-left: 4px;*/
}
.dsList img{
    height: 68px;
    width: 90px;
    /*margin-left: 4px;*/
    border-radius: 6px;
}
.dsListContent{
    overflow-x:scroll;
    min-height: 160px;
    max-height: 240px;
    padding:40px 8px 0px 8px;
}
.dsListContent::-webkit-scrollbar {/*隐藏滚动条*/
    display: none;
}
.dsList h2.dsName{
    width: 100%;
    position: absolute;
    bottom: 0;
    height: 24px;
    line-height: 24px;
    color: #fff;
    font-size: 14px;
    background: #000;
    text-align: center;
    opacity: 0.5;
    border-radius:0 0 6px 6px;
}
@media only screen and (min-width: 360px){
    .dsImageBox{
        position: relative;
        height: 80px;
        width:106px;
        margin: 4px 0;
        /*margin-left: 4px;*/
    }
    .dsList h2.dsName{
    width: 100%;
    position: absolute;
    bottom: 0;
    height: 24px;
    line-height: 24px;
    color: #fff;
    font-size: 16px;
    background: #000;
    text-align: center;
    opacity: 0.5;
    border-radius:0 0 6px 6px;
    }
    .dsList img{
        height: 80px;
        width: 106px;
        /*margin-left: 4px;*/
        border-radius: 6px;
    }
    .dsListContent{
    overflow-x:scroll;
    min-height: 160px;
    max-height: 300px;
    padding:40px 8px 0px 8px;
    }
}
@media only screen and (min-width: 400px){
    .dsListContent{
    overflow-x:scroll;
    min-height: 160px;
    max-height: 340px;
    padding:40px 8px 0px 8px;
    }
}
@media only screen and (min-width: 480px){
    .dsListContent{
    overflow-x:scroll;
    min-height: 160px;
    max-height: 360px;
    padding:40px 8px 0px 8px;
    }
}
@media only screen and (min-width: 600px){
    .dsListContent{
    overflow-x:scroll;
    min-height: 160px;
    max-height: 520px;
    padding:40px 8px 0px 8px;
    }
}

.spanBox span{
    font-size: 14px;
    color: #999;
    line-height: 20px;
}
.spanBox span:nth-child(1){
    width: 100%;
    text-align: center;
}
.spanBox span:nth-child(2){
    width: 100%;
    text-align: center;
}
.dsList p.priceBox{
    font-size: 12px;
    color: orange;
    height: 20px;
    line-height: 20px;
    margin-top: 4px;
    padding-left: 8px;
}
.dsList p.dsType{
    padding-left: 8px;
    font-size: 14px;
    color: #555;
    height: 23px;
    line-height: 22px;
    border-bottom: 1px solid #ddd;
}

.spanBox{
    display: flex;
    justify-content: space-around;
}
.dsList span.price{
    font-size: 14px;
    color: orange;
}
.again{
    position: absolute;
    bottom: -30px;
    width: 64px;
    left: 50%;
    margin-left: -32px;
    text-align: center;
    color: #777;
    font-size: 16px;
    font-family: "兰亭黑"
}
.close1{
    position: absolute;
    bottom: -20px;
    height: 14px;
    left: 50%;
    margin-left: 40px;
}


/*底部*/
.footer img{
position: absolute;
bottom: 0;
left: 0;
z-index: 98;
width: 100%;
}