
body{
	background-color: #a6d4ff;
}

.img_bg{
	width: 70%;
	margin-left: 15%;
	margin-top:60px;
}
    .swiper-slide {
    	margin-top: 80px;
        background-position: center;
        background-size: cover;
        width: 80%;
        background: #fff;
        border-radius: 10px;
        display: flex;
        align-items: center;
       	padding-bottom: 20px;
		margin-bottom: 20px;
    }
.content{
	
	background-color:white;
	/*height: 240px;*/
	width: 100%;
	border-radius: 10px;
	text-align: center;

}
.buttonClick{
	border-radius: 8px;
	background-color: #4ea0ff;
	width: 36%;
	height: 32px;
	margin-left: 32%;
	margin-top: 30px;
	text-align: center;
	line-height: 32px;
}
.buttonClick img{
	height: 30%;
}
.swiper-slide-active {
    transform: scale(1);
    transition: all 0.5s ease-out;
}
.swiper-container-android .swiper-slide-next,.swiper-container-android .swiper-slide-prev{
    transform: scale(0.9,0.9);
    -moz-transition: all .5s ease-out;
    -webkit-transition: all .5s ease-out;
    -o-transition: all .5s ease-out;
    transition: all .5s ease-out;
} 
.swiper-slide-next,.swiper-slide-prev{
    transform: scale(0.9);
    -moz-transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
} 
p.ds_name{
	color: #ff8300;
	font-weight: bold;
	font-size: 22px;
	margin: 20px 0 30px 0
}

p.description{
	color: #888;
	font-weight: bold;
	font-size: 14px;
	margin: 20px 0 30px 0;
	line-height: 24px;
}
