@charset "utf-8";
/* CSS Document */
.header{
	position: relative;
	height: 150px;
	width: 100%;
}
.address{
	position: absolute;
	top: 0;
	margin-top: 10px;
	padding: 5px;
	background-color: black;
	color: white;
	
}
/* #search{
	position: fixed;
	height: 40px;
	width: 60%;
	margin-left: 20%;
	line-height: 40px;
	padding-left: 16px;
	color: #999;
	background:url(../images/search.png) no-repeat center right;
	margin-top: -64px;
	border: 1px solid #999;
	background-color: white;
} */

.city{
	position:absolute;
	left:0;
	top:0px;
	background-color:white;
	width:100%;
	height:100%;
	z-index:10000;
	display: none;
}
.ds_list{
	display: flex;
	margin:10px 0;
	padding: 0 16px;
	background-color: white;
	height: 80px;
	align-items: center;
}

.ds_name_price{
	display: flex;
	padding: 0 16px;
	align-items: center;
	padding-left: 10px;
	height: 50px;
}
.ds_name{
	color: black;
	font-size: 18px;
}
.ds_price{
	margin-left: auto;
}
.ds_address{
	color: #999;
	padding-left: 10px;
	
}





