body{
	background-color: #4ea0ff;
}
.headerCold{
	height: 48px;
	display: flex;
	background-color: #f6f1f1;
	justify-content: space-between;
}
.headerCold p{
	width: 100%;
	height: 46px;
	border-bottom: 2px solid #f6f1f1;
	line-height: 48px;
	text-align: center;
}
.headerCold p.inCold{
	border-bottom: 2px solid #ff7800;
}
.integral_record_container{
	padding: 10px 0;
	position: relative;
}

.no_record{
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top:-100px;
	margin-left: -60px;
	text-align: center;
}
.no_record p{
	margin-top:10px;
	color: #999;
}
.integral_type{
	font-size: 14px;
	border: 1px solid black;
	width: 60px;
	height: 30px;
	border-radius: 15px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.integral_record{
	background-color: #f6f1f1;
	margin:10px 16px;
	border-radius: 10px;
}
.integral_record_header{
	height: 48px;
	line-height: 48px;
	padding-left: 10px;
	padding-right: 10px;
	border-bottom: 1px solid #eee;
}
.list{
	overflow: auto;
	padding: 0 10px;
	background-color: #f6f1f1;
}
.list::-webkit-scrollbar {display:none}
.integral_record_list{
	padding: 10px 0;
	line-height: 20px;
	border-bottom: 1px solid #ddd;
}
.integral_record_list:first-child{
	padding-top:0;
}
.integral_record_count{
	float: right;
	color: #999;
}
.integral_record_time{
	color: #999;
	font-size: 14px;
	margin-top: 4px;
}
.goldImg{
	margin-right: 6px;
	margin-left: 10px;
	height: 16px;
}
.goldhide0{
	display: none;
}
