@charset "utf-8";
/* CSS Document */
body{
	background: #4ea0ff;
}
.header_bg{
	background-color: #f6f1f1;
	height: 48px;
}
.header{
	height: 48px;
	padding: 0 16px;
	display: flex;
	justify-content: space-between;
}
.all_orders,.orders_success,.orders_finished,.orders_cencer,.orders_pay{
	height: 46px;
	line-height: 46px;
}
.all_orders{
	border-bottom: 2px solid orange;
	color: orange;
}
.orders_bg{
	margin:16px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.bg_hint{
	margin-top: 100px;
	text-align: center;
}
.bg_hint p{
	margin-top: 10px;
}
.container{
	margin:10px;
}
.dsorder_list{
	background: #f6f1f1;
	margin: 10px 0;
	border-radius: 10px;
	padding: 0 16px;
}
.dsorder_titie{
	display: flex;
	height: 36px;
	align-items: center;
	border-bottom: 1px dashed #ddd;
}
.refund,.result,.topay{
	margin-left: auto;
	color: orange;
	font-size: 14px;
}
.dsoder_container{
	display: flex;
	align-items: center;
	height: 80px;
	border-bottom: 1px dashed #ddd;
}
.dsorder_information{
	color: #999;
	font-size: 14px;
	margin-left:20px;
}
.dsorder_footer{
	height: 36px;
	text-align: right;
	line-height: 36px;
	font-size: 14px;
	color: #555;
}
.dsorder_pay{
	font-size: 14px;
	color: #555;
	margin-left: 10px
}
.order_price{
	font-size: 18px;
	color: orange;

}
.order_assess,.order_assess_finish{
	padding: 4px 10px;
	font-size: 14px;
}