body{
	background: #f6f1f1;
	/*font-family: "方正舒体"*/
	display:-webkit-flex; -webkit-flex-flow:column;/*竖向排列*/
	justify-content: center;
	align-items: center;
}
.payHint{
	max-width: 320px;
	font-size: 14px;
	padding: 20px 16px;
	margin-top: 20px;
}
.payHint h2{
	font-size: 16px;
}
.step{
	display: flex;
	padding-left: 3.5em;
	/*height: 40px;*/
	align-items: center;
	margin-top: 20px;
}
.step p {
	position: relative;
	/*line-height: 20px;*/
}
.step p span{
	position: absolute;
	left: -1.5em;
}
.step div{
	text-align: center;
	margin-left: 10px;
}
.payFinish{
		font-size: 16px;
	margin-top: 40px;
	text-align: center;
}
.payFinish p{
	line-height:32px;
}
.payFinish span{
	color: #4ea0ff;
}
