body{
	background-color: white;
}
.header{
	height: 100px;
	display: flex;
	align-items: center;
	padding: 0 16px;
	background-color: #e8e8d0;
}
.user_header{
	display: flex;
	align-items: center;
}
.user_infor{
	margin-left: 10px;
}
#mobile{
	font-size: 22px;
}
#nickname{
	font-size: 14px;
	color: #555;
}
.price_container{
	margin:10px 10px;
}
.rechage_hint{
	margin-left: 5px;
	height: 36px;
	line-height: 36px;
}
.amount_recharge{
	display: flex;
	justify-content: space-around;
}
.amount_type{
	border: 1px solid #67c0ee;
	margin:5px;
	width: 100%;
	text-align: center;
	padding: 5px;
}
.price{
	font-size: 18px;
}
.price_instro{
	font-size: 12px;
	color: #999;
}
.footer{
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	bottom: 0;
	width: 200px;
	left: 50%;
	margin-left: -100px;
	margin-bottom: 16px;
}
a,.footer span{
	color: #67c0ee;
	font-size: 14px;
}
