body,html{
  background-color: #4ea0ff;
  color: #999;
}
.divBox{
  border-radius: 10px;
  padding: 0 10px;
  margin: 10px 16px;
  background-color: #f6f1f1;
}
.divBox h2{
  color: #777;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}
.xiala{
  color: #4ea0ff;
  font-size: 12px;
  padding:4px 0;
  text-align: center;
}
.divBox p.info-text{
  line-height: 18px;
  font-size: 14px;
  text-indent: 2em;
  margin:4px 8px 0 8px;
  height: 54px;
  overflow:hidden;
}
.tuiguang>div{
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  font-size: 14px;
  align-items: center;
}
.tuiguang div:last-child{
  padding-bottom: 10px;
}
.tuiguang>div span:last-child{
  background-color: orange;
  padding:4px 10px;
  border-radius: 50px;
  color: #fff;
}
.tuiguang>div span.onconcern{
  background-color: #09bb07;
}
.bottomImage {
   width: 1em; height: 1em;
   vertical-align: -0.15em;
   fill: currentColor;
   overflow: hidden;
   color: #4ea0ff;
}




.userInfo>div.row{
  margin: 0 0;
  padding: 12px 0;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ddd
}
.userInfo>div.row span{
  color: #555;
  line-height: 16px;
}
.userInfo>div.row input{
  padding-left: 10px;
  background-color: #f6f1f1;
  min-width: 100px;
  flex: 1;
  font-size: 14px;
}
.express-area a{
  padding:10px 0;
  background-color: #f6f1f1
}