.text14{
	color: #999;
	padding:20px 16px 5px 16px;
}
.schoolList{
	margin-bottom: 20px;
}
.schoolList ul li{
	padding: 0 16px;
	background-color: white;
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 40px;
	margin-top: 1px;
	line-height: 40px;
	list-style-type:none;
}
