.container{
	background-color:white;
}
.user_sex{
	margin-top: 16px;
}
.line{
	height: 1px;
	background-color: #DEDEDE;
	margin-left: 16px;
	margin-right: 16px;
}
.boy{
	padding-left: 16px;
	padding-right: 16px;
	display: flex;
	height: 40px;
	justify-content: space-between;
	align-items: center;
	background:url(../images/bg_line.png);
	background-repeat:repeat-x;		/*背景图片在水平显示*/	
	background-position-y:top;　　/*背景图片在纵向的最下方显示*/
}
.girl{
	padding-left: 16px;
	padding-right: 16px;
	display: flex;
	height: 40px;
	justify-content: space-between;
	align-items: center;
	background:url(../images/bg_line.png);
	background-repeat:repeat-x;		/*背景图片在水平显示*/	
	background-position-y:bottom;　　/*背景图片在纵向的最下方显示*/
}