html, body {
    /*position: relative;*/
    /*height: 100%;*/
    background:#54A0FF;
    color: #999;
    font-family: "兰亭黑";
}
.villaBox{
    border-radius: 10px;
    padding: 0;
    margin: 10px 16px;
    background: #f6f1f1;
}

/*别墅选择*/
.container{
	border-top: 1px solid #ddd;
}
.villa-information{
	position: relative;
	display: flex;
	align-items: center;
	margin: 0 10px;
}
.villa-information div.villa-title {
	height: 48px;
	width: 48px;
	font-size: 16px;
	color: #555;
	text-align: center;
	line-height: 32px;
	margin:10px 10px 10px 0;
}
.villa-information div.villa-pic{
	width: 48px;
	height: 48px;
	background: red;
	border-radius: 10px;
	margin:10px 10px 10px 0;
}
.villa-information div.villa-choose{

	top:50%;
	margin-top: -10px;
	position: absolute;
	/*display: none;*/
	background: blue;
	right: 0px;
	height: 20px;
	width: 20px;
	background: url(../images/circle.png);
	background-size: 20px;
}
.villa-information input[name="villa-radio"]{
	width: 12px;
	height: 12px;
	padding:0;
	margin:0;
	margin-left: 10px;
	filter:alpha(Opacity=0);-moz-opacity:0;opacity: 0;
}
.villa-information input[type="number"]{
	padding: 0 10px;
	width: 100%;
	height: 32px;
	min-width: 100px;
	background:#eee;
	border: 0;
}
.villa-information input:-ms-input-placeholder{
    color: #999;
    font-size: 12px;
}

.villa-information input::-webkit-input-placeholder{
    color: #999;
    font-size: 12px;
}
.villa-information div.villa-content{
	flex: 1;
	margin: 10px 0;
	/*background: green;*/
}
.villa-information div.villa-choose-content{
	flex: 1;
	margin: 10px 36px 10px 0;
	/*background: green;*/
}
.villa-information div.villa-choose-content p{
	font-size: 12px;
	height: 16px;
	/*background: red;*/
	line-height: 20px;
}
.villa-content p:first-child{
	color: #555;
	line-height: 18px;
	font-size: 14px;
}
.villa-content p:last-child{
	color: #999;
	font-size: 12px;
	line-height: 16px;
}

/*日历*/
.date{
	padding: 10px 20px;
}
/*用户信息填写*/
.villa-user{
	padding: 0 10px;
	margin-bottom: 58px;
}
.villa-user-row{
	height: 36px;
	line-height: 36px;
	display: flex;
	align-items: center;

}
.villa-user-row p.tel{margin-left: 10px}
.villa-user-row p:first-child{
	color: #555;
	/*width: 100px;*/
	margin-right: 10px;
	text-align: center;
}
.villa-user-row p:last-child{
	color: orange;
	height: 36px;
	width: 32px;
	text-align: center;
	font-size: 12px;
	line-height: 44px;
}
.villa-user-row input{
	min-width: 100px;
	background: #eee;
	height: 28px;
	flex: 1;
	padding: 0 10px;
	color: #999;
	font-size: 14px;
}
.villa-user-row input:-ms-input-placeholder{
    color: #999;
    font-size: 12px;
}

.villa-user-row input::-webkit-input-placeholder{
    color: #999;
    font-size: 12px;
}
.villa-user-coupon{
	line-height: 36px;
	height: 36px;
	display: flex;
	border-top: 1px solid #ddd;
	align-items: center;
	justify-content: space-between;
}
.villa-user-coupon p:first-child{
	color: #555;
	/*width: 100px;*/
	margin-right: 10px;
	text-align: center;
}
.villa-user-couponNumber{
	height: 36px;
	display: flex;
	align-items: center;
}
.villa-user-couponNumber span{
	font-size: 12px;
}
/*footer去支付*/
.footer{
	position: fixed;
	bottom: 0;
	height: 48px;
	width: 100%;
	display: flex;
}
.footer p:first-child{
	width: 70%;
	background: white;
	height: 48px;
	line-height: 48px;
	padding-left: 28px;
	font-size: 18px;
}
.footer p:last-child{
	width: 30%;
	height: 48px;
	background: orange;
	line-height: 48px;
	text-align: center;
	color: white;
	font-size: 16px;
}
/*支付选择弹窗*/
.payBox{
	display: none;
	position: fixed;
	background: white;
	height: 40%;
	width: 100%;
	bottom: 0;
	z-index: 100;
	text-align: center;
	color: #999;
}
.payBox h2{
	color: #555;
	margin-top: 10px;
	height: 40px;
	line-height: 40px;
	border-bottom: 1px solid #eee;
}
.payBox p{
	position: absolute;
	height: 20px;
	width: 20px;
	top:8px;
	left: 16px;
	font-size: 32px;
	color: #ccc;
	font-weight:normal;

	transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
}
.payBox div.payMode{
	position: relative;
	padding: 0 16px;
	display: flex;
	/*justify-content: space-between;*/
	height: 40px;
	align-items: center;
	border-bottom: 1px solid #eee;
}
.payBox div.payMode label{
	font:14px;
	height: 40px;
	line-height: 40px;
	text-align: left;
	width: 100%;
	/*background: yellow;*/
}
.payBox div.payMode input{
	display: none;
}
.payBox div.payModeImg{
	top:50%;
	right: 16px;
	margin-top: -10px;
	position: absolute;
	/*display: none;*/
	height: 20px;
	width: 20px;
	background: url(../images/circle.png);
	background-size: 20px;
}
.toPay{
	width: 100%;
	line-height: 48px;
	color: white;
	height: 48px;
    background:#54A0FF;
    position: absolute;
    bottom: 0;
}
.layer{
	background: #eee;
	position: absolute;
	height: 100%;
	width: 100%;
	z-index: 99;
	top:0;
	left: 0;
	filter:alpha(Opacity=80);-moz-opacity:0.5;opacity: 0.5;
	display: none;
}