
    html, body {
        position: relative;
        height: 100%;
        background:#B4DADA;
    }
    .swiper-container {

        width: 100%;
        height: 100%;
    }
/*背景*/
.parallax-bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 200%;
    height: 100%;
    display: inline-block;
    /*background: url(../images/B4DADA_bg.jpg);*/
    background-size: 100% 100%;

    }
.parallax-bg img:first-child{
    width: 40%;
    margin-left: 5%;
    margin-top: 10%;
}
.parallax-bg img:last-child{
    position: absolute;
    width: 34%;
    left: 58%;
    margin-top: 5%;
}
/*轮播*/
    .swiper-slide {
        background-position: center;
        background-size: cover;
        width: 80%;
        height: 30%;
        top: 50%;
        padding:20px 0;
        background: #fff;
        border-radius: 10px;
        display: flex;
        align-items: center;
       
    }

.content{
    width: 100%;
    text-align: center;
}
.villa_content_title{
    margin-bottom: 20px;
    width: 50%;
}
.army_content_title{
    margin-bottom: 20px;
    width: 30%;
}
.villa_content_text{
    width: 45%;
}
.army_content_text{
    width: 60%;
}
.button{
    border-radius: 8px;
    background-color: #4ea0ff;
    width: 36%;
    height: 32px;
    margin-left: 32%;
    margin-top: 30px;
    text-align: center;
    line-height: 32px;
}
.button img{
    height: 30%;
}

.swiper-slide-active {
    transform: scale(1);
    transition: all 0.5s ease-out;
}
.swiper-container-android .swiper-slide-next,.swiper-container-android .swiper-slide-prev{
    transform: scale(0.9,0.9);

    -moz-transition: all .5s ease-out;
    -webkit-transition: all .5s ease-out;
    -o-transition: all .5s ease-out;
    transition: all .5s ease-out;
} 
.swiper-slide-next,.swiper-slide-prev{
    transform: scale(0.9);
    -moz-transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
} 
