<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bjpygh.gzh.dao.ArmyOrderMapper">
  <resultMap id="BaseResultMap" type="com.bjpygh.gzh.bean.ArmyOrder">
    <id column="army_id" jdbcType="INTEGER" property="armyId" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="real_name" jdbcType="VARCHAR" property="realName" />
    <result column="army_name" jdbcType="VARCHAR" property="armyName" />
    <result column="army_price" jdbcType="INTEGER" property="armyPrice" />
    <result column="date" jdbcType="VARCHAR" property="date" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="pay_time" jdbcType="TIMESTAMP" property="payTime" />
    <result column="refund_time" jdbcType="TIMESTAMP" property="refundTime" />
    <result column="finish_time" jdbcType="TIMESTAMP" property="finishTime" />
    <result column="note" jdbcType="VARCHAR" property="note" />
    <result column="original_price" jdbcType="INTEGER" property="originalPrice" />
    <result column="people_number" jdbcType="INTEGER" property="peopleNumber" />
    <result column="order_number" jdbcType="VARCHAR" property="orderNumber" />
    <result column="order_status" jdbcType="INTEGER" property="orderStatus" />
    <result column="room_number" jdbcType="INTEGER" property="roomNumber" />
    <result column="noroom_number" jdbcType="INTEGER" property="noroomNumber" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    army_id, user_id, real_name, army_name, army_price, date, create_time, pay_time, 
    refund_time, finish_time, note, original_price, people_number, order_number, order_status, 
    room_number, noroom_number
  </sql>
  <select id="selectByExample" parameterType="com.bjpygh.gzh.bean.ArmyOrderExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from army_order
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from army_order
    where army_id = #{armyId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from army_order
    where army_id = #{armyId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.bjpygh.gzh.bean.ArmyOrderExample">
    delete from army_order
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.bjpygh.gzh.bean.ArmyOrder">
    insert into army_order (army_id, user_id, real_name, 
      army_name, army_price, date, 
      create_time, pay_time, refund_time, 
      finish_time, note, original_price, 
      people_number, order_number, order_status, 
      room_number, noroom_number)
    values (#{armyId,jdbcType=INTEGER}, #{userId,jdbcType=BIGINT}, #{realName,jdbcType=VARCHAR}, 
      #{armyName,jdbcType=VARCHAR}, #{armyPrice,jdbcType=INTEGER}, #{date,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{payTime,jdbcType=TIMESTAMP}, #{refundTime,jdbcType=TIMESTAMP}, 
      #{finishTime,jdbcType=TIMESTAMP}, #{note,jdbcType=VARCHAR}, #{originalPrice,jdbcType=INTEGER}, 
      #{peopleNumber,jdbcType=INTEGER}, #{orderNumber,jdbcType=VARCHAR}, #{orderStatus,jdbcType=INTEGER}, 
      #{roomNumber,jdbcType=INTEGER}, #{noroomNumber,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.bjpygh.gzh.bean.ArmyOrder">
    insert into army_order
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="armyId != null">
        army_id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="realName != null">
        real_name,
      </if>
      <if test="armyName != null">
        army_name,
      </if>
      <if test="armyPrice != null">
        army_price,
      </if>
      <if test="date != null">
        date,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="payTime != null">
        pay_time,
      </if>
      <if test="refundTime != null">
        refund_time,
      </if>
      <if test="finishTime != null">
        finish_time,
      </if>
      <if test="note != null">
        note,
      </if>
      <if test="originalPrice != null">
        original_price,
      </if>
      <if test="peopleNumber != null">
        people_number,
      </if>
      <if test="orderNumber != null">
        order_number,
      </if>
      <if test="orderStatus != null">
        order_status,
      </if>
      <if test="roomNumber != null">
        room_number,
      </if>
      <if test="noroomNumber != null">
        noroom_number,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="armyId != null">
        #{armyId,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="realName != null">
        #{realName,jdbcType=VARCHAR},
      </if>
      <if test="armyName != null">
        #{armyName,jdbcType=VARCHAR},
      </if>
      <if test="armyPrice != null">
        #{armyPrice,jdbcType=INTEGER},
      </if>
      <if test="date != null">
        #{date,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="payTime != null">
        #{payTime,jdbcType=TIMESTAMP},
      </if>
      <if test="refundTime != null">
        #{refundTime,jdbcType=TIMESTAMP},
      </if>
      <if test="finishTime != null">
        #{finishTime,jdbcType=TIMESTAMP},
      </if>
      <if test="note != null">
        #{note,jdbcType=VARCHAR},
      </if>
      <if test="originalPrice != null">
        #{originalPrice,jdbcType=INTEGER},
      </if>
      <if test="peopleNumber != null">
        #{peopleNumber,jdbcType=INTEGER},
      </if>
      <if test="orderNumber != null">
        #{orderNumber,jdbcType=VARCHAR},
      </if>
      <if test="orderStatus != null">
        #{orderStatus,jdbcType=INTEGER},
      </if>
      <if test="roomNumber != null">
        #{roomNumber,jdbcType=INTEGER},
      </if>
      <if test="noroomNumber != null">
        #{noroomNumber,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.bjpygh.gzh.bean.ArmyOrderExample" resultType="java.lang.Long">
    select count(*) from army_order
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update army_order
    <set>
      <if test="record.armyId != null">
        army_id = #{record.armyId,jdbcType=INTEGER},
      </if>
      <if test="record.userId != null">
        user_id = #{record.userId,jdbcType=BIGINT},
      </if>
      <if test="record.realName != null">
        real_name = #{record.realName,jdbcType=VARCHAR},
      </if>
      <if test="record.armyName != null">
        army_name = #{record.armyName,jdbcType=VARCHAR},
      </if>
      <if test="record.armyPrice != null">
        army_price = #{record.armyPrice,jdbcType=INTEGER},
      </if>
      <if test="record.date != null">
        date = #{record.date,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.payTime != null">
        pay_time = #{record.payTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.refundTime != null">
        refund_time = #{record.refundTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.finishTime != null">
        finish_time = #{record.finishTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.note != null">
        note = #{record.note,jdbcType=VARCHAR},
      </if>
      <if test="record.originalPrice != null">
        original_price = #{record.originalPrice,jdbcType=INTEGER},
      </if>
      <if test="record.peopleNumber != null">
        people_number = #{record.peopleNumber,jdbcType=INTEGER},
      </if>
      <if test="record.orderNumber != null">
        order_number = #{record.orderNumber,jdbcType=VARCHAR},
      </if>
      <if test="record.orderStatus != null">
        order_status = #{record.orderStatus,jdbcType=INTEGER},
      </if>
      <if test="record.roomNumber != null">
        room_number = #{record.roomNumber,jdbcType=INTEGER},
      </if>
      <if test="record.noroomNumber != null">
        noroom_number = #{record.noroomNumber,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update army_order
    set army_id = #{record.armyId,jdbcType=INTEGER},
      user_id = #{record.userId,jdbcType=BIGINT},
      real_name = #{record.realName,jdbcType=VARCHAR},
      army_name = #{record.armyName,jdbcType=VARCHAR},
      army_price = #{record.armyPrice,jdbcType=INTEGER},
      date = #{record.date,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      pay_time = #{record.payTime,jdbcType=TIMESTAMP},
      refund_time = #{record.refundTime,jdbcType=TIMESTAMP},
      finish_time = #{record.finishTime,jdbcType=TIMESTAMP},
      note = #{record.note,jdbcType=VARCHAR},
      original_price = #{record.originalPrice,jdbcType=INTEGER},
      people_number = #{record.peopleNumber,jdbcType=INTEGER},
      order_number = #{record.orderNumber,jdbcType=VARCHAR},
      order_status = #{record.orderStatus,jdbcType=INTEGER},
      room_number = #{record.roomNumber,jdbcType=INTEGER},
      noroom_number = #{record.noroomNumber,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.bjpygh.gzh.bean.ArmyOrder">
    update army_order
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="realName != null">
        real_name = #{realName,jdbcType=VARCHAR},
      </if>
      <if test="armyName != null">
        army_name = #{armyName,jdbcType=VARCHAR},
      </if>
      <if test="armyPrice != null">
        army_price = #{armyPrice,jdbcType=INTEGER},
      </if>
      <if test="date != null">
        date = #{date,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="payTime != null">
        pay_time = #{payTime,jdbcType=TIMESTAMP},
      </if>
      <if test="refundTime != null">
        refund_time = #{refundTime,jdbcType=TIMESTAMP},
      </if>
      <if test="finishTime != null">
        finish_time = #{finishTime,jdbcType=TIMESTAMP},
      </if>
      <if test="note != null">
        note = #{note,jdbcType=VARCHAR},
      </if>
      <if test="originalPrice != null">
        original_price = #{originalPrice,jdbcType=INTEGER},
      </if>
      <if test="peopleNumber != null">
        people_number = #{peopleNumber,jdbcType=INTEGER},
      </if>
      <if test="orderNumber != null">
        order_number = #{orderNumber,jdbcType=VARCHAR},
      </if>
      <if test="orderStatus != null">
        order_status = #{orderStatus,jdbcType=INTEGER},
      </if>
      <if test="roomNumber != null">
        room_number = #{roomNumber,jdbcType=INTEGER},
      </if>
      <if test="noroomNumber != null">
        noroom_number = #{noroomNumber,jdbcType=INTEGER},
      </if>
    </set>
    where army_id = #{armyId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bjpygh.gzh.bean.ArmyOrder">
    update army_order
    set user_id = #{userId,jdbcType=BIGINT},
      real_name = #{realName,jdbcType=VARCHAR},
      army_name = #{armyName,jdbcType=VARCHAR},
      army_price = #{armyPrice,jdbcType=INTEGER},
      date = #{date,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      pay_time = #{payTime,jdbcType=TIMESTAMP},
      refund_time = #{refundTime,jdbcType=TIMESTAMP},
      finish_time = #{finishTime,jdbcType=TIMESTAMP},
      note = #{note,jdbcType=VARCHAR},
      original_price = #{originalPrice,jdbcType=INTEGER},
      people_number = #{peopleNumber,jdbcType=INTEGER},
      order_number = #{orderNumber,jdbcType=VARCHAR},
      order_status = #{orderStatus,jdbcType=INTEGER},
      room_number = #{roomNumber,jdbcType=INTEGER},
      noroom_number = #{noroomNumber,jdbcType=INTEGER}
    where army_id = #{armyId,jdbcType=INTEGER}
  </update>
</mapper>