<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bjpygh.gzh.dao.IntegralMapper">
    <insert id="insertUserCoin" parameterType="java.lang.Long">
        INSERT INTO integral(user_id, create_time, update_time)
        VALUES (#{userId}, now(), now())
    </insert>
    <select id="selectUserCoin" parameterType="java.lang.Long" resultType="userCoin">
        SELECT general_coin AS generalCoin,is_sign AS isSign, coin FROM integral
        WHERE user_id = #{userId}
    </select>
    <select id="selectIntegral" parameterType="java.lang.Long" resultType="integral">
        SELECT user_id, general_coin, coin, is_sign, continuous, update_time FROM integral
        WHERE user_id=#{userId}
    </select>
    <update id="updateInegral" parameterType="integral">
        UPDATE integral SET general_coin=#{generalCoin}, coin=#{coin}
        WHERE user_id=#{userId} AND is_delete=0
    </update>
    <update id="updateUserSign" parameterType="integral">
        UPDATE integral SET general_coin=#{generalCoin}, is_sign=#{isSign},
        continuous=#{continuous}, update_time=now() WHERE user_id=#{userId} AND is_sign=0
    </update>
    <update id="updateAllSigned">
        UPDATE integral SET is_sign=0 WHERE is_sign=1
    </update>

    <update id="updateAllUnSigned">
        UPDATE integral SET continuous=0 WHERE is_sign=0
    </update>

    <!--<update id="updateUserCoin" parameterType="user">-->
        <!--UPDATE integral SET general_coin=#{generalCoin}-->
        <!--WHERE user_id=#{userId}-->
    <!--</update>-->
</mapper>