body{
  background-color: #4ea0ff;
  color: #999;
}
.divBox{
  border-radius: 10px;
  padding: 0 10px;
  margin: 10px 16px;
  background-color: #f6f1f1;
}
.divBox h2{
  color: #777;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}
.xiala{
  color: #4ea0ff;
  font-size: 12px;
  padding:4px 0;
  text-align: center;
}
.divBox p{
  line-height: 18px;
  font-size: 14px;
  text-indent: 2em;
  margin:4px 8px 0 8px;
  height: 54px;
  overflow:hidden;
}
.tuiguang>div{
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  font-size: 14px;
  align-items: center;
}
.tuiguang div:last-child{
  padding-bottom: 10px;
}
.tuiguang>div span:last-child{
  background-color: orange;
  padding:4px 10px;
  border-radius: 50px;
  color: #fff;
}
.tuiguang>div span.onconcern{
  background-color: #00db00;
}
.code img.codeImg{
  width: 50%;
  margin:10px 25%;
  border-radius: 6px;
  border:8px solid #4ea0ff;
}
.code a{
  color: #4ea0ff;
  float: right;
}
.code{
  /*clear: both;*/
  padding-bottom: 8px;
  overflow: hidden;
}
.rightImage {
   width: 1em; height: 1em;
   vertical-align: -0.15em;
   fill: currentColor;
   overflow: hidden;
   color: #4ea0ff;
}
.bottomImage {
   width: 1em; height: 1em;
   vertical-align: -0.15em;
   fill: currentColor;
   overflow: hidden;
   color: #4ea0ff;
}