body{
  background-color: #4ea0ff;
  color: #999;
  position: relative;
  height: 100%;
}
.divBox{
  border-radius: 10px;
  padding: 0 4%;
  top: 2%;
  left: 4%;
  background-color: #f6f1f1;
  position: fixed;
  height: 96%;
  width: 84%;
  overflow:auto
}
.divBox::-webkit-scrollbar{
  display:none;
}
.awardImgDiv{
  text-align: center;
  padding: 10px;
}
.awardImg{
  height: 160px;
}
.floatRight{
  float: right;
  font-size: 14px;
}
.rightImage {
   width: 1em; height: 20px;
   fill: currentColor;
   overflow: hidden;
   color: #777;
   float: right;
}
.awardName{
  color: #4ea0ff;
  font-weight: bold;
  font-size: 18px;
  margin: 10px 0; 
}
.awardCoin{
  line-height: 20px;
  margin: 10px 0;
}
.awardCoin img {
  margin-right: 4px;
  margin-left: 8px;
}
.userAddress{
  height: 20px;
  padding: 10px 0;
  border-top:1px solid #ddd;
  border-bottom: 1px solid #ddd;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.userAddress span.address_title{
  color: #555;
  min-width: 80px;
}
.userAddress span.floatRight{
  text-align: right;
  color: #999;
}

.addressDetail{
  font-size: 14px;
  line-height: 20px;
  display: inline-block;
  max-width: 80%;
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
  float: right;
}
.divBox h2.awardDetail{
  color: #555;
  height: 40px;
  line-height: 40px;
  text-align: center;
}
.awardIntro{
  margin-top: 10px;
  line-height: 20px;
  text-indent: 2em;
}

.duihuanBox{
  position: fixed;
  bottom: 2%;
  width: 92%;
  left:4%;
  background-color: #f6f1f1;
}
.duihuan{
  height: 40px;
  line-height: 40px;
  text-align: center;
  background-color: #4ea0ff;
  color: #fff;
  width: 82%;
  margin: 10px 8%;
  border-radius: 10px;
}
.awardDetail-hint{
  padding-bottom: 60px;
}
.awardDetail-hint h2{
  font-size: 16px;
  line-height: 20px;
  margin-top: 10px;
  margin-bottom: 4px;
}
.awardDetail-hint p{
  line-height: 20px;
  margin-top: 10px;

}